{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block page_content %}

<section class="col-md-4 m-auto">
    <form class="form-group" action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-success float-right" type="submit" value="Submit">
    </form>
    <div class="form-group" >
          {{ result }}
    </div>
</section>

{% endblock %}
